<div class="mb-4">
  <h5 class="d-flex justify-content-between align-items-center mb-3">
    <span class=""><i class="mx-auto mb-1" data-feather="shopping-cart"></i></span>
    <span class="badge badge-success badge-pill">{{ order.items.count }}</span>
  </h5>
  {{ order.items.count }} Distinct Item(s) - Total Qty: {{order.get_total_qty_buying}}
  <ul class="list-group mb-3 z-depth-1">
    {% for order_item in order.items.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
      <small class="text-muted">{{ order_item.quantity }} x {{ order_item.item.title}}</small> 
      <span class="text-muted"><b>${{ order_item.get_item_final_amount }}</b></span>
    </li>
    {% endfor %}
    {% if order.coupon %}
    <li class="list-group-item d-flex justify-content-between bg-light">
      <div class="text-success">
        <h6 class="my-0">Promo code</h6>
        <small>{{ order.coupon.code }}</small>
      </div>
      <span class="text-success">-${{ order.coupon.amount }}</span>
    </li>
    {% endif %}
    <li class="list-group-item d-flex justify-content-between">
      <span>Total (USD)</span>
      <strong class="text-danger">${{ order.get_total }}</strong>
    </li>
  </ul>

  {% if DISPLAY_COUPON_FORM %}
  <form class="card p-2" action="{% url 'orders:addCoupon' %}" method="POST">
      {% csrf_token %}
      <div class="input-group">
          {{ couponform.code }}
          <div class="input-group-append">
          <button class="btn btn-success btn-md waves-effect m-0" type="submit">Redeem</button>
          </div>
      </div>
  </form>
  {% endif %}
</div>

